{{page-title "adfs"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}
<h1>peopleTracker</h1>
{{ outlet }}
